.appContainer{
  margin:0;
  height:100%
}

.card{
  min-width:275;
  text-align: center;
  margin: 100px auto 0;
  width:90vw;
  max-width: 960px;
}

.appViewContainer{
  min-height: 100%;
  margin-bottom: -100px;
}

